# Compilados
bin/
obj/

# Paquetes NuGet
packages/

# Archivos de usuario de Visual Studio
*.user
*.suo
*.userosscache
*.sln.docstates

# Carpetas y archivos temporales
.vs/
*.log
*.tmp

# Configuración de EF
*.pdb

# Archivos de reportes o exportación
*.csv

